<app-toolbar></app-toolbar>
<div class="container" dir="rtl" fxLayout="column" fxLayoutAlign="space-between stretch">
    <div class="controles">
        <div class="repairsTable">
          <table dir="rtl">
            <thead>
              <tr>
                <th>إيرادات الصيانة</th>
                <th>إيراد منتجات الصيانة</th>
                <th>سعر شراء منتجات الصيانة</th>
                <th>صافي إيراد الصيانة</th>
                <th>صافي منتجات الصيانة</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ReapirMoneyTotal}}</td>
                <td>{{ProductsMoneyInRepair}}</td>
                <td>{{PurchaseProductsMoneyInRepair}}</td>
                <td>{{repairMoneyProfites}}</td>
                <td>{{ProductsMoneyInRepair - PurchaseProductsMoneyInRepair}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="sells-controlles">
            <h2 class="sells-header">حسابات المبيعات</h2>
            <div class="filtterCartsQuerry">
                <div class="query">
                  <label for="today">اليوم الحالي:</label>
                  <input type="checkbox" id="today" [(ngModel)]="cartsQuery.today" (change)="filterCarts()">
                </div>
                <div class="query">
                  <label for="thisMonth">الشهر الحالي:</label>
                  <input type="checkbox" id="thisMonth" [(ngModel)]="cartsQuery.thisMonth" (change)="filterCarts()">
                </div>
                <div class="query">
                  <label for="thisYear">السنة الحالية:</label>
                  <input type="checkbox" id="thisYear" [(ngModel)]="cartsQuery.thisYear" (change)="filterCarts()">
                </div>  
                <div class="query">
                  <label for="specificYear">السنة:</label>
                  <input type="number" id="specificYear" lang="ar" dir="auto" [(ngModel)]="cartsQuery.specificYear" (change)="filterCarts()">
                </div>
                <div class="query" dir="rtl">
                  <mat-select placeholder="قسم المنتج" id="category" name="category" [(ngModel)]="cartsQuery.category" (selectionChange)="filterCarts()" required>
                    <mat-option class="option" *ngFor="let sec of productSections" [value]="sec.name">{{ sec.name }}</mat-option>
                  </mat-select>
                </div>
                <div class="query">
                  <label for="startDate">من:</label>
                  <input type="date" id="startDate" [(ngModel)]="cartsQuery.startDate" placeholder="تاريخ البدء" lang="ar" (change)="filterCarts()">
                </div>
                <div class="query">
                  <label for="endDate">إلي:</label>
                  <input type="date" id="endDate" [(ngModel)]="cartsQuery.endDate" placeholder="تاريخ الانتهاء" lang="ar" (change)="filterCarts()">
                </div>
                <div class="query" dir="rtl">
                  <mat-select placeholder="نوعية الدفع" id="payType" name="payType" [(ngModel)]="cartsQuery.payType" (selectionChange)="filterCarts()" required>
                    <mat-option class="option"  value="cash">كاش</mat-option>
                    <mat-option class="option"  value="vodafone-cash">فودافون كاش</mat-option>
                    <mat-option class="option"  value="bank">بنك</mat-option>
                  </mat-select>
                </div>
                <div class="query" dir="ltr">
                  <mat-select placeholder="نوع العميل" id="buyerType" name="buyerType" [(ngModel)]="cartsQuery.buyerType" (selectionChange)="filterCarts()" required>
                    <mat-option class="option"  value="user">User</mat-option>
                    <mat-option class="option"  value="dealer">Dealer</mat-option>
                  </mat-select>
                </div>
                <button (click)="filterCarts()" class="Button" id="cartsFilterButton">Filter</button>
                <button (click)="resetCartsFilter()" class="Button" id="cartsResetButton">reset</button>
            </div>
        </div>   
    </div>
    <hr>
    <div class="sellingsTable" fxLayout="row" fxLayoutAlign="space-around center">
      <table dir="rtl">
        <thead>
          <tr>
            <th>إيرادات المبيعات</th>
            <th>سعر الشراء للمباع</th>
            <th>صافي إيراد المبيعات</th>
            <th>أجل مبيعات</th>
            <th>سعر مشتريات الشهر</th>
            <th>كاش مشتريات الشهر</th>
            <th>أجل مشتريات الشهر</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{sellingMoneyTotal}}</td>
            <td>{{ProductBuyingMoney}}</td>
            <td>{{sellingMoneyProfites}}</td>
            <td>{{sellingMoneyStill}}</td>
            <td>{{BuyingMoneyTotal}}</td>
            <td>{{BuyingMoneyPaid}}</td>
            <td>{{BuyingMoneyOwing}}</td>
          </tr>
        </tbody>
      </table>
      <table dir="rtl">
        <thead>
          <tr>
            <th>إجمالي إيرادات</th>
            <th>إجمالي صافي إيرادات</th>
            <th>أخري</th>
            <th>الصافي</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{sellingMoneyTotal + ReapirMoneyTotal + ProductsMoneyInRepair}}</td>
            <td>{{sellingMoneyProfites + repairMoneyProfites + (ProductsMoneyInRepair - PurchaseProductsMoneyInRepair)}}</td>
            <td>{{otherExpenses}}</td>
            <td>{{(sellingMoneyProfites + repairMoneyProfites + (ProductsMoneyInRepair - PurchaseProductsMoneyInRepair)) - otherExpenses}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="charts" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="expenses-input"  fxLayout="column" fxLayoutAlign="space-between start">
          <div class="input" *ngFor="let item of expensesInputs" fxLayout="row" fxLayoutAlign="space-between center">
            <label for="input-{{ item.name }}">{{ item.name }}:</label>
            <input type="number" name="input-{{ item.value }}" id="input-{{ item.value }}" [(ngModel)]="item.value" (ngModelChange)="calOtherExpenses()" [value]="item.value">
          </div>
          <div class="addInput">
            <div class="input"  fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
              <input type="text" name="name" id="name" placeholder="إسم الخانة" [(ngModel)]="input.name">
              <input type="number" name="value" id="value" placeholder="قيمة الخانة" [(ngModel)]="input.value">
            </div>
            <button mat-button (click)="addInput()">إضافة خانة</button>
          </div>
        </div>
        <div class="income">
            <img class="chart" [src]="TotalChartUrl" alt="Income Chart">
        </div>
        <div class="profits">
          <img class="chart" [src]="profitsChartUrl" alt="Profits Chart">
        </div>
    </div>
</div>